body {
    background-color:#777;
    font-family:Arial, Helvetica, sans-serif;
    width:960px;
    font-size: 18px;
}

.a {
    position: relative;
    color: gray;
    left: 100;
    top: 150;
   
}

p1 {
    background-color:#ebebeb;
    color: gray;
    float:left;
    width: 960px;
    height: 80px;
    padding: 5px, 5px, 5px, 5px;
    text-align: center;
    margin: 100px;
    top: 50%
    

}

.b {
    position: static;
    color: black;
    float: left;
    left: 1px;
    top: 1px;
}

p2 {
    background-color:#ebebeb;
    color: gray;
    float:left;
    width: 960px;
    height: 80px;
    padding: 5px, 5px, 5px, 5px;
    text-align: center;
    margin: 100px;
    top: -190px;

}

.c {
    position: fixed;
    color: gray;
    left: 0;
    top: 10;
   
}

p3 {
    background-color:#ebebeb;
    color: gray;
    float:left;
    width: 460px;
    height: 310px;
    padding: 5px, 5px, 5px, 5px;
    text-align: center;
    margin: 100px;
    position: relative;
    top: -380px;
    right: -500;

}

p4 {
    background-color:#ebebeb;
    color: gray;
    float:left;
    width: 490px;
    height: 310px;
    padding: 5px, 5px, 5px, 5px;
    text-align: center;
    margin: 100px;
    position: relative;
    top: -890px;
    right: +0;

}

p5 {
    background-color:#ebebeb;
    color: gray;
    float:left;
    width: 960px;
    height: 80px;
    padding: 5px, 5px, 5px, 5px;
    text-align: center;
    margin: 100px;
    position: relative;
    top: -1080px;
    right: -20x;

}

p6 {
    background-color: #777;
    color:#ebebeb;
    float:left;
    width: 470px;
    height: 230px;
    padding: 5px, 5px, 5px, 5px;
    text-align: center;
    margin: 100px;
    position: relative;
    top: -1610px;
    right: -10;
}

p7 {
    background-color:#ebebeb;
    color:#777;
    float:left;
    width: 430px;
    height: 60px;
    padding: 5px, 5px, 5px, 5px;
    text-align: center;
    margin: 100px;
    position: relative;
    top: -1970px;
    right: -30;
}

p8 {
    background-color:#ebebeb;
    color:#777;
    float:left;
    width: 430px;
    height: 60px;
    padding: 5px, 5px, 5px, 5px;
    text-align: center;
    margin: 100px;
    position: relative;
    top: -2160px;
    right: -30;
}
